<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 启动Springmvc注解驱动 -->
	<mvc:annotation-driven />
	
	<!-- 返回json 方法一 需要导入 fastjson.jar包 -->
	<!-- <mvc:annotation-driven> <mvc:message-converters register-defaults="false"> 
		避免IE执行AJAX时,返回JSON出现下载文件 <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"> 
		<property name="supportedMediaTypes"> <list> 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 
		<value>text/html;charset=UTF-8</value> <value>application/json;charset=UTF-8</value> 
		</list> </property> </bean> </mvc:message-converters> </mvc:annotation-driven> -->


	<!-- 返回json 方法二 需要导入 jackson-annotations.jar,jackson-core.jar,jackson-databind.jar -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 自动将控制器加载到bean -->
	<context:component-scan base-package="com.crazypig.demo.embededwebapp"></context:component-scan>
	<!-- 配置处理静态资源的请求 -->
	<!-- <mvc:resources mapping="assets/js/**" location="assets/js/" />
	<mvc:resources mapping="assets/css/**" location="assets/css/" /> -->

	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" /><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
		<!-- <property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" /> -->
	</bean>

</beans>